<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Kevin</title>
    <link rel="stylesheet" href="header.component.css">
</head>
<body>
    <table>
        <tr>
            <td>
                <p>Kevin Emmanuel Quintana Herrera</p>
                <p>Be the best Software Enginner</p>
            </td>
            <td>
                <img src="https://firebasestorage.googleapis.com/v0/b/image-myself.appspot.com/o/kevin.jpg?alt=media&token=f3431f3a-adbf-4009-a902-aea80f6f54f1" class="circular-image" alt="Kevin Herrera">
            </td>
            <td>
                <ul>
                    <li>kevinquintanah12&#64;outlook.com</li>
                    <li>2741431652</li>
                    <li>Orizaba, Veracruz</li>
                    <li>&#64;justkevinnx</li>
                </ul>
            </td>
        </tr>
    </table>
</body>
</html>
